* {
    @apply box-border m-0 p-0 font-heading;
}

body {
    @apply justify-center h-body-height bg-center items-center h-screen bg-bgsize bg-ngradient animate-gradient;
}

.form-container {
    @apply max-w-2xl w-full overflow-hidden px-8 py-6 rounded-3xl bg-bgsize bg-pgradient animate-gradient;
}

.form-container1 {
    @apply max-w-sm w-full overflow-hidden px-7 py-6 rounded-3xl bg-bgsize bg-pgradient animate-gradient;
}

.form-container .title {
    @apply text-3xl font-medium relative w-full mb-6;
}

.form-container1 .title {
    @apply text-3xl font-medium relative w-full mb-6;
}

.form-container .title::before {
    @apply content-[''] absolute h-1 w-6 left-0 bottom-0 bg-bgsize bg-ngradient animate-gradient;
}

.form-container1 .title::before {
    @apply content-[''] absolute h-1 w-6 left-0 bottom-0 bg-bgsize bg-ngradient animate-gradient;
}

.form-container form .user-details {
    @apply flex flex-wrap justify-between mt-5 mb-3 mx-0;
}

.form-container1 form .user-details {
    @apply flex flex-wrap justify-between mt-5 mb-3 mx-0;
}

form .user-details .input-box {
    @apply w-[calc(100%_/_2_-_20px)] mb-3.5;
}

.user-details .input-box .details {
    @apply block font-medium mb-1.5;
}

.user-details .input-box input {
    @apply bg-mydark text-mywhite text-base h-8 w-full pl-4 rounded-3xl border border-solid border-mygray transition-[0.5s];
}

.input-box span {
    @apply relative pointer-events-none text-xs text-mywhite uppercase p-2.5 left-0 transition-[0.5s];
}

.input-box input:valid~span,
.input-box input:focus~span {
    @apply bg-mydark text-mywhite translate-x-2.5 translate-y-1.5 text-xs tracking-wide mix-blend-overlay px-2 py-0 rounded-3xl;
}

.form-container form .user-details1 {
    @apply flex flex-wrap justify-between mt-5 mb-3 mx-0;
}

.user-details1 .input-box1 .details {
    @apply block font-medium mb-1.5;
}

form .user-details1 .input-box1 {
    @apply w-[calc(100%_/_3_-_20px)] mb-3.5;
}

.user-details1 .input-box1 input {
    @apply bg-mydark text-mywhite text-base h-8 w-full pl-4 rounded-3xl border border-solid border-mygray transition-[0.5s];
}

.input-box1 span {
    @apply relative pointer-events-none text-xs text-mywhite uppercase p-2.5 left-0 transition-[0.5s];
}

.input-box1 input:valid~span,
.input-box1 input:focus~span {
    @apply bg-mydark text-mywhite translate-x-2.5 translate-y-1.5 text-xs tracking-wide mix-blend-overlay px-2 py-0 rounded-3xl;
}

form .user-details2 .input-box2 {
    @apply w-full mb-3.5;
}

.user-details2 .input-box2 .details {
    @apply block font-medium mb-1.5;
}

.user-details2 .input-box2 input {
    @apply bg-mydark text-mywhite text-base h-8 w-full pl-4 rounded-3xl border border-solid border-mygray transition-[0.5s];
}

.input-box2 span {
    @apply relative pointer-events-none text-xs text-mywhite uppercase p-2.5 left-0 transition-[0.5s];
}

.input-box2 input:valid~span,
.input-box2 input:focus~span {
    @apply bg-mydark text-mywhite translate-x-2.5 translate-y-1.5 text-xs tracking-wide mix-blend-overlay px-2 py-0 rounded-3xl;
}

.buttonh{
    @apply justify-center items-center appearance-none bg-mydark shadow-boxshadow box-border text-mycream cursor-pointer inline-flex fill-[currentcolor] text-sm font-medium h-12 tracking-[0.25px] leading-[normal] max-w-full overflow-visible relative text-center normal-case select-none touch-manipulation w-[300px] will-change-[transform,opacity] z-0 mb-[35px] px-6 py-0.5 rounded-3xl border-none
    transition-shadow-opacity-transform
    ease-transtimefunc
    delay-transdelay
    duration-transduration
}

.buttonh:hover {
    @apply text-mydark bg-mywhite
}

.buttonh:active {
    @apply shadow-lg;
    outline: none;
}

.buttonh:focus {
    @apply border-2 border-solid border-mydark;
    outline: none;
}

.buttonh:not(:disabled) {
    @apply shadow-md hover:shadow-[rgba(60,64,67,0.3)_0_2px_3px_0,rgba(60,64,67,0.15)_0_6px_10px_4px] focus:shadow-[rgba(60,64,67,0.3)_0_1px_3px_0,rgba(60,64,67,0.15)_0_4px_8px_3px] active:shadow-[rgba(60,64,67,0.3)_0_4px_4px_0,rgba(60,64,67,0.15)_0_8px_12px_6px];
}

  .buttonh:disabled {
    @apply shadow-md;
}

.buttonh1 {
    @apply justify-center items-center appearance-none bg-mycream shadow-lg box-border text-mydark cursor-pointer inline-flex fill-[currentcolor] text-sm font-medium h-12 tracking-[0.25px] leading-[normal] max-w-full overflow-visible relative text-center normal-case select-none touch-manipulation w-[300px] will-change-[transform,opacity] z-0 mr-3 px-6 py-0.5 rounded-3xl border-none
    transition-shadow-opacity-transform
    ease-transtimefunc
    delay-transdelay
    duration-transduration
}

.buttonh1:hover {
    @apply text-mydark bg-mygray
}

.buttonh1:active {
    @apply shadow-md;
    outline: none;
}

.buttonh1:focus {
    @apply border-2 border-solid border-mydark;
    outline: none;
}

.buttonh1:not(:disabled) {
    @apply shadow-[rgba(60,64,67,0.3)_0_1px_3px_0,rgba(60,64,67,0.15)_0_4px_8px_3px] hover:shadow-[rgba(60,64,67,0.3)_0_2px_3px_0,rgba(60,64,67,0.15)_0_6px_10px_4px] focus:shadow-[rgba(60,64,67,0.3)_0_1px_3px_0,rgba(60,64,67,0.15)_0_4px_8px_3px] active:shadow-[rgba(60,64,67,0.3)_0_4px_4px_0,rgba(60,64,67,0.15)_0_8px_12px_6px];
}

.buttonh1:disabled {
    @apply shadow-[rgba(60,64,67,0.3)_0_1px_3px_0,rgba(60,64,67,0.15)_0_4px_8px_3px];
}


@media (max-width: 584px) {
    .form-container {
        @apply max-w-full;
    }

    form .user-details .input-box {
        @apply w-full mb-4;
    }

    .form-container form .user-details {
        @apply max-h-80 overflow-y-scroll;
    }

    .user-details::-webkit-scrollbar {
        @apply w-0;
    }
}

@keyframes lightning {
    0% {
        background-color: transparent;
        box-shadow: none;
    }

    50% {
        background-color: #fff;
        box-shadow: 0 0 10px 5px #fff;
    }

    100% {
        background-color: transparent;
        box-shadow: none;
    }
}
