@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    @apply box-border m-0 p-0;
    font-family: "Poppins", sans-serif;
}

body {
    @apply flex justify-center items-center h-screen p-2.5;
    background: linear-gradient(-60deg, #DAD2BC, #252323, #70798C);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    @apply max-w-2xl w-full overflow-hidden px-8 py-6 rounded-3xl;
    background: linear-gradient(60deg, #DAD2BC, #252323, #70798C);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

.container .title {
    @apply text-3xl font-medium relative;
}

h3 {
    @apply text-[#F5F1ED] mix-blend-overlay;
}

.container .title::before {
    content: '';
    @apply absolute h-1 w-6 left-0 bottom-0;
    background: linear-gradient(-60deg, #DAD2BC, #252323, #70798C);
    animation: gradient 8s ease infinite;
    background-size: 400% 400%;
}

.container form .user-details {
    @apply flex flex-wrap justify-between mt-5 mb-3 mx-0;
}

form .user-details .input-box {
    @apply w-[calc(100%_/_2_-_20px)] mb-3.5;
}

.user-details .input-box .details {
    @apply block font-medium mb-1.5;
}

.user-details .input-box input {
    @apply border text-[#f5f1ed] text-base h-8 w-full pl-4 rounded-3xl border-solid border-[#70798c];
    background: #252323;
    transition: 0.5s;
}

.input-box span {
    @apply relative pointer-events-none text-xs text-[#F5F1ED] uppercase p-2.5 left-0;
    transition: 0.5s;
}

.input-box input:valid~span,
.input-box input:focus~span {
    @apply text-[#f5f1ed] translate-x-2.5 translate-y-1.5 text-xs tracking-wide mix-blend-overlay px-2 py-0 rounded-3xl;
    background: #252323;
}

.button {
    @apply items-center appearance-none bg-[#DAD2BC] box-border text-[#252323] cursor-pointer inline-flex fill-[currentcolor] text-sm font-medium h-12 justify-center tracking-[0.25px] leading-[normal] max-w-full overflow-visible relative text-center normal-case select-none touch-manipulation w-auto px-6 py-0.5 rounded-3xl border-none z-0;
}

.button:hover {
    background: #70798C;
    color: #DAD2BC;
}

.button:focus {
    @apply border-2 border-solid border-[#252323];
}

.button1 {
    @apply items-center appearance-none bg-[#252323] box-border text-[#DAD2BC] cursor-pointer inline-flex fill-[currentcolor] text-sm font-medium h-12 justify-center tracking-[0.25px] leading-[normal] max-w-full overflow-visible relative text-center normal-case select-none touch-manipulation w-auto z-0 px-6 py-0.5 rounded-3xl border-none;
}

.button1:hover {
    background: #70798C;
    color: #252323;
}

.button1:focus {
    @apply border-2 border-solid border-[#252323];
}

@media (max-width: 584px) {
    .container {
        @apply max-w-full;
    }

    form .user-details .input-box {
        @apply w-full mb-4;
    }

    .container form .user-details {
        @apply max-h-80 overflow-y-scroll;
    }

    .user-details::-webkit-scrollbar {
        @apply w-0;
    }
}
